  .leaflet-control-cartodb-infoboxplus {
  background-color: white;
  border-radius: 4px;
  background: white;
  min-width: 26px;
  min-height: 26px;

  a, .leaflet-control-infoboxplus-icon {
    border-bottom: none;
    display: inline-block;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    border: none;
    background-color: white;

  }
  .leaflet-control-cartodb-infoboxplus-alternatives {
    display: block;
    width: 272px;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
    li {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      padding: 5px 8px;
      text-overflow: ellipsis;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }
    li a,li a:hover {
      width: inherit;
      height: inherit;
      line-height: inherit;
      background: inherit;
      border-radius: inherit;
      text-align: left;
    }
    li:last-child {
      border-bottom: none;
    }
    li:hover, li.active {
      background-color: #f5f5f5;
    }
  }
  a:hover, .leaflet-control-cartodb-infoboxplus-icon:hover {
    border-bottom: none;
    display: inline-block;
  }
}

.leaflet-popup-content {
  max-height: 200px;
  overflow: auto;
  h4 {
    font-size: 10pt !important;
    margin: 0;
    padding:0;
  }
  p {
    font-size: 9pt !important;
    margin: 6px 0;
  }
}

.leaflet-control-cartodb-infoboxplus-expanded {
  display: inline-block;
}

.leaflet-touch {
  .leaflet-control-cartodb-infoboxplus {
    min-width: 30px;
    min-height: 30px;
  }
  .leaflet-control-cartodb-infoboxplus-icon {
    width: 30px;
    height: 30px;
  }
}

.leaflet-control-geocoder-cartodb-infoboxplus-minimized {
  display: none;
  height: 0;
}

/*.leaflet-control-geocoder-cartodb-infoboxplus-context {
  color: #666;
}
*/
